@font-face {
  font-family: "Clash_Display";
  src: url("./assets/fonts/ClashDisplay-Regular.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Clash_Display";
  src: url("./assets/fonts/ClashDisplay-Bold.woff2") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Clash_Display";
  src: url("./assets/fonts/ClashDisplay-Extralight.woff2") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Clash_Display";
  src: url("./assets/fonts/ClashDisplay-Semibold.woff2") format("woff");
  font-weight: 500;
  font-style: normal;
}

:root {
  --color-primary: rgb(182, 35, 9);
  --color-secondary: rgb(125, 12, 4);
  --color-tertiary: #fcf76e;
  --color-body-bg: #1f1f1f;
  --color-footer-bg: #1f1f1f;
}

/*  ___ GLOBAL RESET  _____*/

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  width: 100%;
  overflow-x: hidden;
}

@media (max-width: 65em) {
  html {
    font-size: 58%;
  }
}

@media (max-width: 55em) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 45em) {
  html {
    font-size: 45%;
  }
}

body {
  font-family: "Clash_Display";
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  background: var(--color-body-bg);
  color: #fff;
}

p,
li,
a,
input,
textarea,
div {
  font-size: 1.6rem;
  font-family: inherit;
}

h1 {
  font-size: 3.5rem;
  font-weight: normal;
}

h2 {
  font-size: 3rem;
  font-weight: normal;
}

h3 {
  font-size: 2.5rem;
  font-weight: normal;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
  cursor: pointer;
}

a:visited {
    color: unset;
}

button {
  border: unset;
  cursor: pointer;
  outline: none;
  background-color: unset;
  font-family: inherit;
}

.button {
  padding: 1rem 2rem;
  height: 5rem;
  width: 15rem;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-tertiary);
  transition: all 250ms ease-in;
}

.button:hover {
  border: 1px solid #fff;
  background-color: black;
}

/* _____________ LOGO ________________________________*/
.logo {
  margin: 0 2rem;
  min-width: 10rem;
  display: flex;
  align-items: center;
}

.logo img {
  margin-right: 0.75rem;
  width: 4rem;
  height: auto;
  padding: 0.2rem;
  border-radius: 200rem;
  border: 1px solid #ffffff;
}

/* _____________ NAVIGATION ________________________________*/

.search-bar {
  position: absolute;
  top: 10rem;
  width: 100%;
  height: 6rem;
  background-color: white;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: -1px 12px 37px 3px rgba(0, 0, 0, 0.67);
  -webkit-box-shadow: -1px 12px 37px 3px rgba(0, 0, 0, 0.67);
  -moz-box-shadow: -1px 12px 37px 3px rgba(0, 0, 0, 0.67);
  animation: searchfade 300ms ease-in-out;
}

@keyframes searchfade {
    0% {
        height: 0;
        opacity: 0;
    }

    50% {
        height: 3rem;
        opacity: 0;
    }

    100% {
        height: 6rem;
        opacity: 1;
    }
}

.hidden {
  display: none;
}

.search {
  margin-left: 5rem;
  min-width: 40rem;
  display: flex;
  align-items: center;
}


.search img {
  margin: 1rem;
  width: 3rem;
  height: auto;
}

.search input {
  outline: none;
  width: 100%;
  font-size: 3rem;
  border: none;
}

.close-search {
  margin: 0 4rem;
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.493);
  opacity: 1;
  transition: all 600ms ease-in;
}

.nav {
  position: absolute;
  top: 0;
  width: 100%;
  height: 12rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}

.nav-menu {
  position: relative;
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media (max-width: 35em) {
  .nav-menu {
    display: none;
  }
}

.nav-menu li {
  padding: 1rem;
  overflow: hidden;
}

.nav-menu li:hover {
  color: var(--color-tertiary);
}

.nav-menu li a {
  margin-bottom: 1rem;
  font-size: 2.6rem;
  text-shadow: 4px 4px 11px rgba(0, 0, 0, 0.63);
  font-weight: 100;
}

.nav-menu li a span img {
    margin-left: .5rem;
  height: 1.5rem;
  width: auto;
}

.dropdown-menu {
  min-width: 20rem;
  height: 22rem;
  position: absolute;
  top: 1;
  display: none;
  background-color: rgba(0, 0, 0, 0.598);
  color: white;
  border-radius: 5px;
  overflow: hidden;
  animation: dropdown 250ms ease-in;
  z-index: 999;
}

.dropdown-menu li a span {
  font-size: 1rem;
}

.nav-menu li:hover .dropdown-menu {
  display: block;
}

@keyframes dropdown {
  0% {
    opacity: 0;
    height: 0rem;
  }

  100% {
    opacity: 1;
    height: 22rem;
  }
}

.icon_container {
  position: relative;
  margin-right: 2rem;
  min-width: 10rem;
  display: flex;
  align-items: center;
}

.icon_container img {
  width: 3rem;
  height: auto;
  margin: 1rem;
}

@media (max-width: 35em) {
  .icon_container {
    margin-right: 8rem;
  }

  .icon_container img {
    width: 4rem;
  }
}

/* _____________ MOBILE NAVIGATION ________________________________*/

.menu-wrap {
  margin-right: 2rem;
  position: fixed;
  width: 5rem;
  height: 5rem;
  right: 0;
  z-index: 4;
  display: none;
}

@media (max-width: 35em) {
  .menu-wrap {
    display: block;
  }
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  cursor: pointer;
  width: 5rem;
  height: 5rem;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .hamburger > div {
  position: relative;
  width: 100%;
  height: 0.3rem;
  background-color: #fff;
  border-radius: 200rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 250ms ease-in;
}

.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -1.25rem;
  left: 0;
  width: 100%;
  height: 0.3rem;
  background-color: inherit;
  border-radius: 200rem;
  transition: all 200ms ease-in;
}

.menu-wrap .hamburger > div::after {
  top: 1.25rem;
}

.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

.menu-wrap .toggler:checked + .hamburger > div::before,
.menu-wrap .toggler:checked + .hamburger > div::after {
  top: 0;
  transform: rotate(90deg);
}

/*____ SHOW MENU ON TOGGLE  ______ */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 400ms ease;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div {
  background-color: rgba(0, 0, 0, 0.92);
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 400ms ease;
  z-index: 9;
}

.menu-wrap .menu > div > div {
  text-align: center;
  width: 50rem;
  height: 50rem;
  opacity: 0;
  transition: opacity 400ms ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div > div > .mobile-menu {
  width: 80%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div > div > .mobile-menu li {
  margin: 1rem;
}

.menu-wrap .menu > div > div > .mobile-menu li a {
  font-size: 4rem;
}

.menu-wrap .menu > div > div > .mobile-menu li a:hover {
  color: var(--color-tertiary);
}

.menu-wrap .menu > div > div > .mobile-menu li a span {
  font-size: 2rem;
}

/* _____________ HEADER __________________________________*/

.header {
  position: relative;
  width: 100%;
  min-height: 80rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("./assets/imgs/SOLARIUM_SUNSET.jpg");
  background-size: cover;
}

.header-slogan_container {
  display: flex;
  flex-direction: column;
  animation: slogan 2000ms ease-in-out;
  position: absolute;
  top: 50%;
  left: 10%;
}

.header-slogan {
  color: transparent;
  font-size: 8rem;
  background-image: linear-gradient(to right, #fff, var(--color-tertiary));
  background-clip: text;
  -webkit-background-clip: text;
}

@keyframes slogan {
  0% {
    opacity: 0;
    transform: translateX(-5rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}

.header-slogan_container a {
    margin-top: 3rem;
    animation: buttonfade 3000ms ease-in-out;

}

@keyframes buttonfade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* _____________ SECTION ________________________________*/
.section {
  width: 100%;
  min-height: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 500ms ease-in;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

/* _____________ PRODUCTS ________________________________*/

.section-products {
    min-height: 80rem;
    justify-content: center;
}

.section-products__title {
  color: rgb(176, 176, 176);
  font-size: 8rem;
  font-weight: 500;
  letter-spacing: .25rem;
  margin-bottom: 5rem;
}

.underline-accent {
    width: 9rem;
    height: .3rem;
    background-color: var(--color-tertiary);
}

.section-products__container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.section-products__text-container {
    width: 45%;
    height: 100%;
    padding-left: 8rem;
    display: flex;
    flex-direction: column;
}

.section-products__text-container p {
    margin: 3rem 0;
    line-height: 2.25rem;
}

.section-products__products-container {
    margin-top: 25rem;
    width: 50%;
    display: flex;
    align-content: center;
    justify-content: center;
}

.product-item {
    margin: .5rem;
    min-width: 18rem;
    height: 50rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.product-item__img-container {
    width: 100%;
    height: 75%;
    margin-bottom: 2rem;
    overflow: hidden;
    object-fit: cover;
}

.product-item h2 {
    margin-bottom: auto;
}




/* _____________ SECTION - FEATURED-COLLECTION_________________________   */

.featured-collection {
    width: 100%;
    height: 75rem;
    background-image: url('./assets/imgs/PURPLE_MTNS.jpg');
    background-size: cover;
}

.featured-collection__text {
    width: 70%;
    height: 75rem;
    clip-path: polygon(0% 0%, 100% 0, 70% 100%, 0% 100%);
     background-image: url('./assets/imgs/abstract-fractal-3.jpg');

}

.text__overlay {
    width: 100%;
    height: 100%;
    padding-left: 8rem;
    background-color: rgba(0, 0, 0, 0.808);
      display: flex;
    flex-direction: column;
   justify-content: center;
}

.text__overlay h1 {
    font-size: 6rem;
    font-weight: bold;
    letter-spacing: .3rem;
}

.text__overlay a {
    margin-top: 2rem;
}

/* _____________ SECTION - TRI-FEATURE_________________________   */

.tri-feature__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.tri-feature {
    width: 100%;
    height: 40rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tri-feature img{
    width: 50%;
}

.tri-feature_text {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tri-feature_text-1 {
    background-image: url('./assets/imgs/dark-abstract-1.jpg');
    background-size: cover;
}

.tri-feature_text-2 {
    background-image: url('./assets/imgs/dark-abstract-2.jpg');
    background-size: cover;
}

.tri-feature_text-3 {
    background-image: url('./assets/imgs/dark-abstract-3.jpg');
    background-size: cover;
}

.tri-feature_text-overlay {
    width: 100%;
    height: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.349);
}

.tri-feature_text-overlay h2 {
   font-size: 4rem;
   font-weight: bold;
}

.tri-feature_text-overlay a {
    margin-top: 2rem;
}

/* _____________ SECTION-2 - SLIDER ________________________________*/
.slider {
  position: relative;
  width: 100%;
  min-height: 80rem;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 80rem;
  transition: all 300ms ease-in;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-btn img {
  width: 5rem;
  height: 5rem;
  border-radius: 100rem;
  background-color: rgba(0, 0, 0, 0.379);
}

.slider-btn img:hover {
  background-color: black;
  transition: all 250ms ease-in;
}

.slider-controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider-controls button {
  margin: 1.5rem;
}

.dots {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
  height: 4rem;
  min-width: 5rem;
  display: flex;
  align-items: center;
  z-index: 1;
}

.dot {
  margin: 0.5rem;
  width: 2rem;
  height: 2rem;
  border-radius: 100rem;
  border: 1px solid white;
  transition: all 250ms ease-in;
}

.dot--active {
  background-color: var(--color-tertiary);
  border: 1px solid var(--color-tertiary);
}

/* _______SECTION-3 TABBED COMPONENT ______________________________*/

.tabbed-component {
  margin: 2rem 1rem 10rem 1rem;
  min-width: 90rem;
  height: 60rem;
  background-color: rgb(23, 23, 23);
  border-radius: 2px;
  color: white;
  border: 1px solid gray;
  box-shadow: -3px 4px 18px -3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -3px 4px 18px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -3px 4px 18px -3px rgba(0, 0, 0, 0.75);
  box-sizing: content-box;
}

.tabs-container {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tab {
  color: #ffffff;
  font-size: 2rem;
  transition: all 200ms ease-in;
  padding: 1rem 5rem 1rem 1rem;
}

.tab--active {
  clip-path: polygon(0% 0%, 90% 0%, 100% 100%, 0% 100%);
  color: var(--color-tertiary);
  transform: translateY(-1.5rem);
  background-color: rgb(23, 23, 23);
  padding: 1rem 5rem 1rem 1rem;
  border-radius: 2.5px;
  border-top: 1px solid gray;
}

.tab-slide-container {
  position: relative;
  width: 100%;
  height: 55rem;
  color: #ffffff;
  overflow: hidden;
}

.tab-slide {
  position: absolute;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 54.8rem;
  transition: all 250ms ease-in;
}

.tab-slide-1 {
  background-image: url("./assets/imgs/abstract-fractal.jpg");
  background-size: cover;
}

.tab-slide-2 {
  background-image: url("./assets/imgs/abstract-fractal-2.jpg");
  background-size: cover;
}

.tab-slide-3 {
  background-image: url("./assets/imgs/abstract-fractal-3.jpg");
  background-size: cover;
}

.tab-slide--overlay {
  padding: 3rem;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.529);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tab-slide--active {
  opacity: 1;
}

.tab-slide h2 {
  margin-bottom: 5rem;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid white;
}

/* _____________ FOOTER ________________________________*/

footer {
  width: 100%;
  min-height: 15rem;
  background-color: var(--color-footer-bg);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 35em) {
  footer {
    flex-direction: column;
  }
}

.footer-links {
  margin-right: 5rem;
  min-width: 25%;
  display: flex;
  align-items: center;
}

.footer-links li {
  margin: 1rem;
}

.footer-links li a {
  font-size: 2.6rem;
}

.footer-links li a:hover {
  color: var(--color-tertiary);
}
