@font-face {
  font-family: "Clash_Display";
  src: url("./assets/fonts/ClashDisplay-Regular.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Clash_Display";
  src: url("./assets/fonts/ClashDisplay-Bold.woff2") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Clash_Display";
  src: url("./assets/fonts/ClashDisplay-Extralight.woff2") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Clash_Display";
  src: url("./assets/fonts/ClashDisplay-Semibold.woff2") format("woff");
  font-weight: 500;
  font-style: normal;
}

/*  ___ 

DEFAULT COLORS

primary(yellow): #fcf76e;
body-bg: #1f1f1f;
footer-bg: #1f1f1f;

_____*/

:root {
  --color-primary: #fcf76e;
  --color-secondary: rgb(125, 12, 4);
  --color-tertiary: #fcf76e;
  --color-body-bg: #1f1f1f;
  --color-footer-bg: #0e0e0e;
}

/*  ___ GLOBAL RESET  _____*/

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  width: 100%;
  /*___ PARALLAX EFFECT BELOW ____*/
  /* overflow: hidden; */
}

@media (max-width: 65em) {
  html {
    font-size: 58%;
  }
}

@media (max-width: 55em) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 45em) {
  html {
    font-size: 45%;
  }
}

body {
  font-family: "Clash_Display";
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  background: var(--color-body-bg);
  color: #fff;
  /*___ PARALLAX EFFECT BELOW ____*/
  /* perspective: 1px;
    transform-style: preserve-3d;
    overflow-x: hidden;
    overflow-y: scroll; */
}

/*____ WRAPPER FOR PARALLAX (wrap everything within body with a div class="wrapper", then uncomment .wrapper, header, and body parallax code) _____*/

/* .wrapper {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  background: var(--color-body-bg);
  color: #fff;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
} */

p,
li,
a,
input,
textarea,
div {
  font-size: 1.6rem;
  font-family: inherit;
}

h1 {
  font-size: 3.5rem;
  font-weight: normal;
}

h2 {
  font-size: 3rem;
  font-weight: normal;
}

h3 {
  font-size: 2.5rem;
  font-weight: normal;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
  cursor: pointer;
}

a:visited {
  color: unset;
}

button {
  border: unset;
  cursor: pointer;
  outline: none;
  background-color: unset;
  font-family: inherit;
}

.button {
  padding: 1rem 2rem;
  height: 5rem;
  width: 15rem;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-primary);
  transition: all 250ms ease-in;
}

.button:hover {
  border: 1px solid #fff;
  background-color: black;
}

/* _____________ LOGO ________________________________*/
.logo {
  margin: 0 2rem;
  min-width: 10rem;
  display: flex;
  align-items: center;
}

.logo img {
  margin-right: 0.75rem;
  width: 4rem;
  height: auto;
}

/* _____________ NAVIGATION ________________________________*/

.search-bar {
  position: absolute;
  top: 10rem;
  width: 100%;
  height: 6rem;
  background-color: white;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: -1px 12px 37px 3px rgba(0, 0, 0, 0.67);
  -webkit-box-shadow: -1px 12px 37px 3px rgba(0, 0, 0, 0.67);
  -moz-box-shadow: -1px 12px 37px 3px rgba(0, 0, 0, 0.67);
  animation: searchfade 300ms ease-in-out;
}

@keyframes searchfade {
  0% {
    height: 0;
    opacity: 0;
  }

  50% {
    height: 3rem;
    opacity: 0;
  }

  100% {
    height: 6rem;
    opacity: 1;
  }
}

.hidden {
  display: none;
}

.search {
  margin-left: 5rem;
  min-width: 40rem;
  display: flex;
  align-items: center;
}

.search img {
  margin: 1rem;
  width: 3rem;
  height: auto;
}

.search input {
  outline: none;
  width: 100%;
  font-size: 3rem;
  border: none;
}

.close-search {
  margin: 0 4rem;
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.493);
  opacity: 1;
  transition: all 600ms ease-in;
}

.nav {
  position: absolute;
  top: 0;
  width: 100%;
  height: 12rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 4;
}

.nav-menu {
  position: relative;
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media (max-width: 40em) {
  .nav-menu {
    display: none;
  }
}

.nav-menu li {
  padding: 1rem;
  overflow: hidden;
}

.nav-menu li:hover {
  color: var(--color-primary);
}

.nav-menu li a {
  margin-bottom: 1rem;
  font-size: 2.6rem;
  text-shadow: 4px 4px 11px rgba(0, 0, 0, 0.63);
  font-weight: 100;
}

.nav-menu li a span img {
  margin-left: 0.5rem;
  height: 1.5rem;
  width: auto;
}

.dropdown-menu {
  min-width: 20rem;
  height: 22rem;
  position: absolute;
  top: 1;
  display: none;
  background-color: rgba(0, 0, 0, 0.598);
  color: white;
  border-radius: 5px;
  overflow: hidden;
  animation: dropdown 250ms ease-in;
  z-index: 999;
}

.dropdown-menu li a span {
  font-size: 1rem;
}

.nav-menu li:hover .dropdown-menu {
  display: block;
}

@keyframes dropdown {
  0% {
    opacity: 0;
    height: 0rem;
  }

  100% {
    opacity: 1;
    height: 22rem;
  }
}

.icon_container {
  position: relative;
  margin-right: 2rem;
  min-width: 10rem;
  display: flex;
  align-items: center;
}

.icon_container img {
  width: 3rem;
  height: auto;
  margin: 1rem;
}

@media (max-width: 40em) {
  .icon_container {
    margin-right: 8rem;
  }

  .icon_container img {
    width: 4rem;
  }
}

/* _____________ MOBILE NAVIGATION ________________________________*/

.menu-wrap {
  margin-right: 2rem;
  position: fixed;
  width: 5rem;
  height: 5rem;
  right: 0;
  z-index: 4;
  display: none;
}

@media (max-width: 40em) {
  .menu-wrap {
    display: block;
  }
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  cursor: pointer;
  width: 5rem;
  height: 5rem;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .hamburger > div {
  position: relative;
  width: 100%;
  height: 0.3rem;
  background-color: #fff;
  border-radius: 200rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 250ms ease-in;
}

.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -1.25rem;
  left: 0;
  width: 100%;
  height: 0.3rem;
  background-color: inherit;
  border-radius: 200rem;
  transition: all 200ms ease-in;
}

.menu-wrap .hamburger > div::after {
  top: 1.25rem;
}

.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

.menu-wrap .toggler:checked + .hamburger > div::before,
.menu-wrap .toggler:checked + .hamburger > div::after {
  top: 0;
  transform: rotate(90deg);
}

/*____ SHOW MENU ON TOGGLE  ______ */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 400ms ease;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div {
  background-color: rgba(0, 0, 0, 0.92);
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 400ms ease;
  z-index: 9;
}

.menu-wrap .menu > div > div {
  text-align: center;
  width: 50rem;
  height: 50rem;
  opacity: 0;
  transition: opacity 400ms ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div > div > .mobile-menu {
  width: 80%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div > div > .mobile-menu li {
  margin: 1rem;
}

.menu-wrap .menu > div > div > .mobile-menu li a {
  font-size: 4rem;
}

.menu-wrap .menu > div > div > .mobile-menu li a:hover {
  color: var(--color-tertiary);
}

.menu-wrap .menu > div > div > .mobile-menu li a span {
  font-size: 2rem;
}

/* _____________ HEADER __________________________________*/

.header {
  position: relative;
  width: 100%;
  min-height: 80rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("./assets/imgs/SOLARIUM_SUNSET.jpg");
  background-size: cover;
  /*___ PARALLAX EFFECT BELOW ____*/
  /* transform-style: preserve-3d;
  z-index: -2;
  transform: translateZ(-5px) scale(1.5); */
}

.header-slogan_container {
  display: flex;
  flex-direction: column;
  animation: slogan 2000ms ease-in-out;
  position: absolute;
  top: 50%;
  left: 10%;
}

.header-slogan {
  color: transparent;
  font-size: 8rem;
  background-image: linear-gradient(to right, #fff, var(--color-primary));
  background-clip: text;
  -webkit-background-clip: text;
}

@keyframes slogan {
  0% {
    opacity: 0;
    transform: translateX(-5rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}

.header-slogan_container a {
  margin-top: 3rem;
  animation: buttonfade 3000ms ease-in-out;
}

@keyframes buttonfade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* _____________ SECTION - FOR ALL SECTIONS ________________________________*/
.section {
  width: 100%;
  min-height: 80rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 500ms ease-in;
  background-color: var(--color-body-bg);
  z-index: 2;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

/* _____________ SECTION - TEXT: PRODUCTS and OUR STORY_________________*/
.section-text-title {
  color: rgb(176, 176, 176);
  font-size: 8rem;
  font-weight: 500;
  letter-spacing: 0.25rem;
  margin-bottom: 1rem;
}

.underline-accent {
  width: 9rem;
  height: 0.3rem;
  background-color: var(--color-primary);
}

.section-text-container {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.section-text-container p {
  margin: 3rem 0;
  line-height: 2.25rem;
}

@media (max-width: 50em) {
  .section-text-title {
    font-size: 5rem;
    margin-bottom: 2rem;
  }

  .section-text-container {
    width: 90%;
  }
}

/* _____________ SECTION-1: PRODUCTS ________________________________*/

.section-products {
  justify-content: center;
  min-height: 90rem;
}

.section-text-container__products {
  position: relative;
  padding-left: 8rem;
  margin-right: 1rem;
  top: -20rem;
}

.section-products__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.section-products__products-container {
  width: 55%;
  display: flex;
  align-content: center;
  justify-content: center;
}

.product-item {
  margin: 0.5rem;
  min-width: 18rem;
  height: 50rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.product-item:hover .product-item__img-container img {
  transform: scale(1.1);
}

.product-item__img-container {
  width: 100%;
  height: 75%;
  margin-bottom: 2rem;
  overflow: hidden;
  object-fit: cover;
  border-radius: 2px;
}

.product-item__img-container img {
  width: 100%;
  height: auto;
  transition: transform 300ms ease-in;
}

.product-item h2 {
  margin-bottom: auto;
  text-transform: uppercase;
}

.product-item h2 span {
  font-size: 2rem;
}

@media (max-width: 50em) {
  .section-products__container {
    flex-direction: column;
  }

  .section-products__text-container {
    width: 100%;
  }

  .section-text-container__products {
    position: relative;
    padding-left: 0rem;
    top: 0rem;
  }

  .section-products__products-container {
    margin-top: 3rem;
    width: 100%;
  }

  .product-item {
    min-width: 15rem;
    height: 40rem;
  }

  .product-item__img-container {
    margin-bottom: 0rem;
  }

  .product-item h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .product-item h2 span {
    font-size: 2rem;
  }
}

/* _____________ SECTION-2: SPLIT-FEATURE-BANNER _________________________   */

.split-banner {
     position: relative;
  width: 100%;
  height: 75rem;
  background-image: url("./assets/imgs/PURPLE_MTNS.jpg");
  background-size: cover;
  box-shadow: 2px 6px 15px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 6px 15px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 6px 15px -1px rgba(0, 0, 0, 0.75);
}

.split-banner__half {
  width: 70%;
  height: 75rem;
  clip-path: polygon(0% 0%, 100% 0, 70% 100%, 0% 100%);
  background-image: url("./assets/imgs/abstract-fractal-3.jpg");
}

.split-banner__half-overlay { 
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.808);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.split-banner__text-box {
    position: absolute;
    top: 50%;
    left: 4rem;
    display: flex;
    flex-direction: column;
    z-index: 5;
}

.split-banner__text-box h1 {
  font-size: 6rem;
  font-weight: bold;
  letter-spacing: 0.3rem;


  color: transparent;
  background-image: linear-gradient(to right, #fff, var(--color-primary));
  background-clip: text;
  -webkit-background-clip: text;
}

.split-banner__text-box a {
  margin-top: 2rem;
}

/* _____________ SECTION-3: OUR STORY_________________________   */

.section-story {
  justify-content: center;
}

.story-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.story-container img {
  width: 50%;
  height: auto;
}

@media (max-width: 50em) {
  .section-story {
    margin-bottom: 5rem;
  }
  .story-container {
    flex-direction: column;
  }

  .story-container img {
    width: 90%;
  }
}
/* _____________ SECTION-4: TRI-FEATURE-BANNER_________________________   */

.section-tri-feature {
  min-height: 120rem;
  box-shadow: 2px 6px 15px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 6px 15px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 6px 15px -1px rgba(0, 0, 0, 0.75);
}

.tri-feature__container {
  width: 100%;
  min-height: 120;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tri-feature {
  width: 100%;
  height: 40rem;
  display: flex;
  align-items: center;
}

.tri-feature_text {
  width: 50%;
  height: 40rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tri-feature_text-1 {
  background-image: url("./assets/imgs/dark-abstract-1.jpg");
  background-size: cover;
}

.tri-feature_text-2 {
  background-image: url("./assets/imgs/dark-abstract-3.jpg");
  background-size: cover;
}

.tri-feature_text-3 {
  background-image: url("./assets/imgs/dark-abstract-2.jpg");
  background-size: cover;
}

.tri-feature_text-overlay {
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.349);
}

.tri-feature_text-overlay h2 {
  font-size: 4rem;
  font-weight: bold;
}

.tri-feature_text-overlay a {
  margin-top: 2rem;
}

.tri-feature_img-container {
  width: 50%;
  height: 100%;
}

.tri-feature_img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 45em) {
  .section-tri-feature {
    min-height: 180rem;
  }

  .tri-feature {
    height: 60rem;
  }

  .tri-feature-1,
  .tri-feature-3 {
    flex-direction: column-reverse;
  }

  .tri-feature-2 {
    flex-direction: column;
  }

  .tri-feature_img-container {
    width: 100%;
    height: 50%;
  }

  .tri-feature_text {
    width: 100%;
    height: 50%;
  }

  .tri-feature_text-overlay h2 {
    font-size: 3rem;
    font-weight: bold;
  }
}

/* _____________ SECTION-5: PRODUCT - SLIDER _________________________   */

.product-slider-component {
  margin: 2rem 0rem;
  width: 95%;
  min-height: 75rem;

}

.product-slider-tabs-contanier {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-slider-tabs {
  width: 80%;
  min-height: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.line {
  width: 100%;
  height: .2rem;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;

}

.line-selector-container {
  width: 90%;
  height: .2rem;
}

.line-selector {
  width: 33.333%;
  height: 100%;
  background-color: var(--color-primary);
  transition: all 300ms ease-in;
}

.product-slider-tab {
  text-transform: uppercase;
  color: gray;
   font-size: 3rem;
   letter-spacing: .25rem;
  font-weight: 500;
  min-width: 15rem;
}

.product-slider-tab--active {
  color: var(--color-primary);
}

.product-slider-products {
  position: relative;
  width: 100%;
  min-height: 60rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-collection {
  display: none;
  align-items: center;
  justify-content: center;
}

.product-collection--active {
  display: flex;
}

.product-slider-product {
  margin: 1rem;
  height: 50rem;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  background-color: rgb(72, 72, 72);
  box-shadow: -2px 13px 23px -3px rgba(0,0,0,0.44);
-webkit-box-shadow: -2px 13px 23px -3px rgba(0,0,0,0.44);
-moz-box-shadow: -2px 13px 23px -3px rgba(0,0,0,0.44);
border-radius: 2px;
border: 1px solid gray;
overflow: hidden;

}

.product-slider-product-img-container {
width: 100%;
height: 75%;
overflow: hidden;
}
.product-slider-product-img-container img {
width: 100%;
height: 100%;
object-fit: cover;
}

.product-slider-product-text {
  width: 100%;
  height: 25%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  background-color: rgb(33, 33, 33);
  border-radius: 2px;
}

.product-slider-product-text h2 {
  font-weight: 500;
  color: var(--color-primary);
  margin-bottom: auto;
}

.product-slider-product-text h3 {
  font-size: 1.8rem;
}

/* _____________ FOOTER ________________________________*/

.footer {
  padding: 5rem 0;
  margin-top: 5rem;
  width: 100%;
  min-height: 15rem;
  background-color: var(--color-footer-bg);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 35em) {
  .footer {
    flex-direction: column;
    min-height: 25rem;
  }
}

.footer-links {
  margin-right: 5rem;
  min-width: 25%;
  display: flex;
  align-items: center;
}

.footer-links li {
  margin: 1rem;
}

.footer-links li a {
  font-size: 2.6rem;
}

.footer-links li a:hover {
  color: var(--color-primary);
}
