@font-face {
    font-family: "Clash_Display";
    src: url("./assets/fonts/ClashDisplay-Regular.woff2") format("woff");
}

:root {
    --color-primary: rgb(182, 35, 9);
    --color-secondary: rgb(125, 12, 4);
    --color-tertiary:#fcf76e;
}



*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    width: 100%;
       overflow-x: hidden;
}

@media (max-width: 65em) {
    html {
        font-size: 58%;
    }
}

@media (max-width: 55em) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 45em) {
    html {
        font-size: 45%;
    }
}

body {
    font-family: "Clash_Display";
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    background: #000000;
    color: #FFF;
}

p, li, a, input, textarea, div {
    font-size: 1.6rem;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.5rem;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: unset;
    cursor: pointer;
}

button {
    border: unset;
      cursor: pointer;
      outline: none;
      background-color: unset;
      font-family: inherit;
}

/* ____LOGO _______   */
.logo {
    margin: 0 2rem;
    min-width: 10rem;
    display: flex;
    align-items: center;
}

.logo img {
    margin-right: .75rem;
    width: 4rem;
    height: auto;
    padding: .2rem;
    border-radius: 200rem;
    border: 1px solid #FFFFFF;
}

/* ____NAVIGATION _______   */

.search-bar {
    position: absolute;
    top: 10rem;
    width: 100%;
    height: 6rem;
    background-color: white;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: -1px 12px 37px 3px rgba(0,0,0,0.67);
-webkit-box-shadow: -1px 12px 37px 3px rgba(0,0,0,0.67);
-moz-box-shadow: -1px 12px 37px 3px rgba(0,0,0,0.67);
transition: all 300ms ease-in-out;
}

.hidden {
    display: none;
}

.search {
    margin-left: 5rem;
    min-width: 15rem;
    display: flex;
    align-items: center;
}

.search img {
    margin:1rem;
    width: 3rem;
    height: auto;
}

.search input {
    outline: none;
    font-size: 2rem;
    border: none;
}

.close-search {
    margin: 0 4rem;
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.714);
}


.nav {
    position: absolute;
    top: 0;
    width: 100%;
    height: 12rem;
    /* background-color: var(--color-primary); */
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
   /* backdrop-filter: blur(10px); */
}

.nav-menu {
    position: relative;
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@media (max-width: 35em) {
    .nav-menu {
        display: none;
    }
}


.nav-menu li {
    padding: 1rem;
    overflow: hidden;
}

.nav-menu li:hover {
    color: var(--color-tertiary);
}

.nav-menu li a {
    margin-bottom: 1rem;
    font-size: 2.6rem;
    text-shadow: 4px 4px 11px rgba(0,0,0,0.63);
}

.dropdown-menu {
    min-width: 20rem;
    height: 22rem;
    position: absolute;
    top: 1;
    display: none;
    background-color: rgba(0, 0, 0, 0.598);
    color: white;
    border-radius:  5px;
    overflow: hidden;
    animation: dropdown 250ms ease-in;
    z-index: 999;
}

.dropdown-menu li a span {
    font-size: 1rem;
}

.nav-menu li:hover .dropdown-menu {
    display: block;
}

@keyframes dropdown {
    0% {
        opacity: 0;
        height: 0rem;
    }

    100% {
        opacity: 1;
        height: 22rem;
    }
}

.icon_container {
    position: relative;
    margin-right: 2rem;
    min-width: 10rem;
    display: flex;
    align-items: center;
}

.icon_container img {
    width: 3rem;
    height: auto;
    margin: 1rem;
}

@media (max-width: 35em) {
    .icon_container {
        display: none;
    }
}

/* ____MOBILE NAVIGATION _______   */

.menu-wrap {
    margin-right: 2rem;
    position: fixed;
    width: 5rem;
    height: 5rem;
    right: 0;
    z-index: 4;
    display: none
}

@media (max-width: 35em) {
    .menu-wrap {
        display: block;
    }
}

.menu-wrap .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    cursor: pointer;
    width: 5rem;
    height: 5rem;
    opacity: 0;
}

.menu-wrap .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-wrap .hamburger > div {
    position: relative;
    width: 100%;
    height: .3rem;
    background-color: #FFF;
    border-radius: 200rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 250ms ease-in;
}

.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -1.25rem;
    left: 0;
    width: 100%;
    height: .3rem;
    background-color: inherit;
    border-radius: 200rem;
    transition: all 200ms ease-in;
}

.menu-wrap .hamburger > div::after {
    top: 1.25rem;
}

.menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
}

.menu-wrap .toggler:checked + .hamburger > div::before,
.menu-wrap .toggler:checked + .hamburger > div::after {
    top: 0;
    transform: rotate(90deg);
}

/*____ SHOW MENU ON TOGGLE  ______ */
.menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 400ms ease;
}


.menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-wrap .menu > div {
     background-color: rgba(0, 0, 0, 0.92);
     border-radius: 50%;
     width: 200vw;
     height: 200vw;
     display: flex;
     flex: none;
     align-items: center;
     justify-content: center;
     transform: scale(0);
     transition: all 400ms ease;
}

.menu-wrap .menu > div > div {
    text-align: center;
    width: 50rem;
    height: 50rem;
    opacity: 0;
    transition: opacity 400ms ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-wrap .menu > div > div > .mobile-menu {
    width: 80%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu-wrap .menu > div > div > .mobile-menu li {
    margin: 1rem;
}

.menu-wrap .menu > div > div > .mobile-menu li a {
    font-size: 3rem;
}

/* ____HEADER _______   */
.header {
    position: relative;
    width: 100%;
    min-height: 80rem;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('./assets/imgs/SOLARIUM_SUNSET.jpg');
    background-size: cover;
}

.header-slogan {
    position: absolute;
    top: 50%;
    left: 10%;
    color: #fcf76e;
    font-size: 8rem;
    animation: slogan 2000ms ease-in-out;
    text-shadow: 4px 4px 11px rgba(0,0,0,0.63);
}

@keyframes slogan {
    0% {
        opacity: 0;
        transform: translateX(-5rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0rem);
    }
}

/* ____HEADER-SLIDER _______   */
.slider {
    position: relative;
    width: 100%;
    min-height: 80rem;
    overflow: hidden;
}

.slide {
    position: absolute;
    top: 0;
    width: 100%;
    height: 80rem;
    transition: all 300ms ease-in;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-btn img {
    width: 5rem;
    height: 5rem;
    border-radius: 100rem;
    background-color: rgba(0, 0, 0, 0.379);
}

.slider-btn img:hover {
    background-color: black;
    transition: all 250ms ease-in;
}

.slider-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slider-controls button {
    margin: 1.5rem;
}

.dots {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    height: 4rem;
    min-width: 5rem;
    display: flex;
    align-items: center;
    z-index: 1;
}

.dot {
    margin: .5rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100rem;
    border: 1px solid white;
    transition: all 250ms ease-in;
}

.dot--active {
    background-color: #FFFFFF;
}



/* ____SECTION _______   */
.section {
    width: 100%;
    min-height: 80rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 500ms ease-in;
}

.section--hidden {
    opacity: 0;
    transform: translateY(8rem);
}

.section h1 {
    font-size: 6rem;
    margin-bottom: 5rem;
}

/* ____SECTION - PRODUCTS _______   */

.products {
    min-width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid #FFF;
    padding: 4rem;
}

.product {
    margin: 1rem;
    border-radius: 5px;
    padding: 2rem;
    border: 1px solid #FFF;
    background-color: rgba(0, 0, 0, 0.721);
    box-shadow: -1px 10px 44px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: -1px 10px 44px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 10px 44px 0px rgba(0,0,0,0.75);
display: flex;
flex-direction: column;
align-items: center;
}

.product_image-container {
    min-width: 15rem;
    border-radius: 5px;
    overflow: hidden;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-tracks: center;
}

.product_description {
    color: rgb(198, 198, 198);
    margin: 1rem 0rem 2rem 0;
}

.product_price {
    color: var(--color-tertiary);
}


.product button {
    margin: 1rem;
    padding: .5rem 1rem;
    height: 4rem;
    width: 15rem;
    border-radius: 50rem;
    background-color: #FFF;
    color: #000;
}

.product button:hover {
    background-color: var(--color-tertiary);
}

/* ____SECTION-THREE _______   */
.section-1 {
    width: 100%;
    color: #FFFFFF;
    background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 10%, rgba(62,62,62,1) 47%, rgba(167,167,167,1) 98%);
}


.tabbed-component {
    margin: 2rem 1rem 10rem 1rem;
    min-width: 90rem;
    height: 60rem;
    background-color: rgb(23, 23, 23);
    border-radius: 2px;
    color: white;
    border: 1px solid gray;
    box-shadow: -3px 4px 18px -3px rgba(0,0,0,0.75);
-webkit-box-shadow: -3px 4px 18px -3px rgba(0,0,0,0.75);
-moz-box-shadow: -3px 4px 18px -3px rgba(0,0,0,0.75);
box-sizing: content-box;
}

.tabs-container {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tab {
    color: #FFFFFF;
    font-size: 2rem;
    transition: all 200ms ease-in;
     padding: 1rem 5rem 1rem 1rem;
}

.tab--active {
    clip-path: polygon(0% 0%, 90% 0%, 100% 100%, 0% 100%);
    color: var(--color-tertiary);
    transform: translateY(-1.5rem);
     background-color: rgb(23, 23, 23);
    padding: 1rem 5rem 1rem 1rem;
    border-radius: 2.5px;
    border-top: 1px solid gray;

}

.tab-slide-container {
    position: relative;
    width: 100%;
    height: 55rem;
    color: #FFFFFF;
     overflow: hidden;
}


.tab-slide {
    position: absolute;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 54.8rem;
    transition: all 250ms ease-in;
}


.tab-slide-1 {
    background-image: url('./assets/imgs/abstract-fractal.jpg');
    background-size: cover;
}

.tab-slide-2 {
    background-image: url('./assets/imgs/abstract-fractal-2.jpg');
    background-size: cover;
}

.tab-slide-3 {
    background-image: url('./assets/imgs/abstract-fractal-3.jpg');
    background-size: cover;
}


.tab-slide--overlay {
    padding: 3rem;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.529);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tab-slide--active {
    opacity: 1;
}

.tab-slide h2 {
    margin-bottom: 5rem;
    padding-bottom: .75rem;
    border-bottom: 1px solid white;
}


/* ____FOOTER _______   */

footer {
    width: 100%;
    min-height: 15rem;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 35em) {
    footer {
        flex-direction: column;
    }
}

.footer-links {
    margin-right: 5rem;
    min-width: 25%;
    display: flex;
    align-items: center;
    
}

.footer-links li {
    margin: 1rem;
}

.footer-links li a {
    font-size: 2.6rem;
}

.footer-links li a:hover {
    color: var(--color-tertiary);
}

