/* _____________ SECTION - PRODUCTS ______________________________   */

.section-1 {
  width: 100%;
  color: #ffffff;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 10%,
    rgba(62, 62, 62, 1) 47%,
    rgba(167, 167, 167, 1) 98%
  );
}

.products {
  min-width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 4rem;
}

.product {
  width: 30rem;
  height: 45rem;
  margin: 1rem;
  border-radius: 5px;
  box-shadow: -1px 10px 44px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 10px 44px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 10px 44px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.product_image-container {
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-tracks: center;
}

.product_image-container img {
  transition: all 300ms;
}

.product:hover .product_image-container img {
  transform: scale(1.2);
}

.product-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 1rem;
}

.product_title {
  color: #000;
}

.product_description {
  color: rgb(72, 72, 72);
  margin: 1rem 0rem 1rem 0;
  height: 3.5rem;
  max-height: 3.5rem;
  overflow: hidden;
}

.product_price {
  color: var(--color-secondary);
}

.product button {
  margin: 1rem;
  padding: 0.5rem 1rem;
  height: 4rem;
  width: 15rem;
  background-color: rgb(55, 55, 55);
  color: #fff;
  border: 1px solid #000;
  border-radius: 2px;
}

.product button:hover {
  background-color: var(--color-tertiary);
  color: #000;
}

/* _____________ SECTION-2 - SLIDER ________________________________*/
.slider {
  position: relative;
  width: 100%;
  min-height: 80rem;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 80rem;
  transition: all 300ms ease-in;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-btn img {
  width: 5rem;
  height: 5rem;
  border-radius: 100rem;
  background-color: rgba(0, 0, 0, 0.379);
}

.slider-btn img:hover {
  background-color: black;
  transition: all 250ms ease-in;
}

.slider-controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider-controls button {
  margin: 1.5rem;
}

.dots {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
  height: 4rem;
  min-width: 5rem;
  display: flex;
  align-items: center;
  z-index: 1;
}

.dot {
  margin: 0.5rem;
  width: 2rem;
  height: 2rem;
  border-radius: 100rem;
  border: 1px solid white;
  transition: all 250ms ease-in;
}

.dot--active {
  background-color: var(--color-tertiary);
  border: 1px solid var(--color-tertiary);
}

/* _______SECTION-3 TABBED COMPONENT ______________________________*/

.tabbed-component {
  margin: 2rem 1rem 10rem 1rem;
  min-width: 90rem;
  height: 60rem;
  background-color: rgb(23, 23, 23);
  border-radius: 2px;
  color: white;
  border: 1px solid gray;
  box-shadow: -3px 4px 18px -3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -3px 4px 18px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -3px 4px 18px -3px rgba(0, 0, 0, 0.75);
  box-sizing: content-box;
}

.tabs-container {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tab {
  color: #ffffff;
  font-size: 2rem;
  transition: all 200ms ease-in;
  padding: 1rem 5rem 1rem 1rem;
}

.tab--active {
  clip-path: polygon(0% 0%, 90% 0%, 100% 100%, 0% 100%);
  color: var(--color-tertiary);
  transform: translateY(-1.5rem);
  background-color: rgb(23, 23, 23);
  padding: 1rem 5rem 1rem 1rem;
  border-radius: 2.5px;
  border-top: 1px solid gray;
}

.tab-slide-container {
  position: relative;
  width: 100%;
  height: 55rem;
  color: #ffffff;
  overflow: hidden;
}

.tab-slide {
  position: absolute;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 54.8rem;
  transition: all 250ms ease-in;
}

.tab-slide-1 {
  background-image: url("./assets/imgs/abstract-fractal.jpg");
  background-size: cover;
}

.tab-slide-2 {
  background-image: url("./assets/imgs/abstract-fractal-2.jpg");
  background-size: cover;
}

.tab-slide-3 {
  background-image: url("./assets/imgs/abstract-fractal-3.jpg");
  background-size: cover;
}

.tab-slide--overlay {
  padding: 3rem;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.529);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tab-slide--active {
  opacity: 1;
}

.tab-slide h2 {
  margin-bottom: 5rem;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid white;
}